/* *
 * Basic stylesheet for https://insomnux.github.io/template-ghpages/
 * Last updated: 04/11/2018
 * Source: https://github.com/insomnux/html-tags-dummy
 * */

/* === Borderboxing === */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* ~~ if things go/look/feel funky or if you really like red borders
   * uncomment this: ~~ */
  /*
  border: red 1px solid;
   */
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* <!-- END Borderboxing --> */

/* === Basic === */

html {
  font-size: 62.5%;
}

body{
  color: #444;
  font-family: "Helvetica", "Verdana", "Liberation Sans", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
  padding: 1em 2em;
}

/* <!-- END Basic --> */

/* === Headings and text === */

h1 {font-size: 2.8rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 2.0rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1.4rem;}
p {font-size: 16px;}

/* === Navigation === */

/* === Navigation === */
nav.mainnav {
  display: block;
  width: 100%;
}
nav.mainnav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 80%;
  padding-left: 0;
}
nav.mainnav > ul > li {
  padding: 0.8rem 1.6rem;
}

/* <!-- END Navigation --> */
